/* Sticky header with consistent look */
.sticky-header th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #4b38b3 !important;
    border: 1px solid #4b38b3 !important;  /* Blue border */
    color: #fff;
    box-shadow: inset 0 -1px 0 #4b38b3 !important;  /* Strong blue bottom */
  }
  
  
  /* Reduce vertical spacing */
  .small-td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 13px;
    
  }


  .status-td {
    font-size: 14px;
    vertical-align: middle !important;
  }
  

  table td, table th {
    font-size: 14px; /* Increase as needed */
    font-weight: 600; /* Makes text bold-ish, use 700 for full bold */
  }
  